* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 1400px;
  width: 100%;
}

header {
  background-color: rgb(250, 250, 250);
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;

  /* deleted the vh rule */
}

.title {
  color: rgb(74, 74, 74);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(74, 74, 74);
}

a:visited {
  text-decoration: none;
  color: rgb(74, 74, 74);
}

.profile-image {
  margin: 20px 0;
  padding: 20px 0;
  width: 75%; /* changed width from 100% */
}

header p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  color: rgb(127, 127, 142);
  line-height: 1.5;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

header li {
  display: block;
  width: 90%;
  font-size: 1.4em;
  padding: 12px;
  margin: 12px;
  background-color: #fff;
  color: rgb(74, 74, 74);
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  padding-top: 20px;
  margin-top: 20px;
  color: rgb(74, 74, 74);
  margin: 15px 0 0 0;
}

h3 {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  color: rgb(74, 74, 74);
}

.projects {
  width: 100%;
  box-sizing: border-box;
}

.project-image {
  width: 90%;
  margin: 15px 0;
  padding: 15px 0;
}

.calc-p {
  margin-bottom: 30px;
}

footer {
  background-color: rgb(250, 250, 250);
  margin-top: 50px;
  padding-top: 50px;
}

.email {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.footer-name {
  display: inline-block;
  float: left;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  color: rgb(74, 74, 74);
  width: 35%;
}

.footer-nav {
  display: none;
}

.email-phone {
  margin-right: 10px;
  padding-right: 10px;
}

.bold {
  font-weight: 700;
  color: rgb(74, 74, 74);
}

.back-to-top {
  display: inline-block;
  float: right;
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  width: 55%;
}

hr {
  width: 90%;
  margin: auto;
}

/*  ---Media Queries--- */
@media (min-width: 768px) {
  header {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    overflow: auto;
  }

  header nav {
    display: inline-block;
    text-align: center;
  }

  header ul {
    text-align: center;
    overflow: visible;
  }

  header li {
    display: inline;
    font-size: 1.4em;
    background-color: rgb(250, 250, 250);
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 15px;
    padding: 20px 15px;
  }

  .profile-image {
    margin: 15px 0 15px 15px;
    float: right;
    width: 40%;
  }

  header p {
    float: left;
    width: 55%;
    padding-right: 10px;
    margin: 60px auto auto 15px;
    text-align: left;
  }

  h2 {
    padding: 40px 0 0 0;
    margin: 40px 0 0 0;
  }

  .projects {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .project-image {
    width: 100%;
  }

  .wrapper {
    width: 90%;
    text-align: center;
    margin: 15px auto 15px auto;
    box-sizing: border-box;
    margin-top: 50px;
    overflow: auto;
  }

  #project-1 {
    float: left;
    width: 49%;
    display: inline-block;
    margin: auto;
  }

  #project-2 {
    float: right;
    width: 49%;
    display: inline-block;
    margin: auto;
  }

  #project-3 {
    float: left;
    width: 49%;
    margin: auto;
    display: inline-block;
  }

  #project-4 {
    float: right;
    width: 49%;
    margin: auto;
    display: inline-block;
  }

  #project-5 {
    float: left;
    width: 49%;
    margin: auto;
  }

  #project-6 {
    float: right;
    width: 49%;
    margin: auto;
  }

  footer {
    background-color: rgb(250, 250, 250);
    width: 100%;
  }

  .footer-name {
    padding: 0;
    float: left;
    display: inline-block;
    width: 30%;
    margin-bottom: 0;
    margin-right: 0;
  }

  .back-to-top {
    display: none;
  }

  .footer-wrapper {
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding: 0 50px;
  }

  .footer-nav {
    display: inline-block;
    float: right;
    width: 60%;
    margin-right: 0;
    padding-right: 0;
  }

  .footer-navigation {
    padding-bottom: 100px;
    margin-bottom: 20px;
  }

  .footer-nav li {
    float: left;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 110px;
  }
}

@media (min-width: 1024px) {
  header {
    overflow: auto;
  }

  nav {
    display: inline-block;
    float: right;
    width: 75%;
  }

  .title {
    float: left;
    display: inline-block;
    width: 25%;
  }

  header ul {
    margin: 15px 20px 20px 0;
    padding: 15px 20px 20px 0;
    float: right;
    width: 70%;
  }

  header p {
    font-size: 1.5em;
    text-align: left;
    width: 50%;
    float: left;
    display: inline-block;
  }

  .profile-image {
    margin: 0;
    padding: 30px 0 50px 0;
    margin-right: 50px;
    width: 40%;
    float: right;
    overflow: hidden;
  }

  h2 {
    margin: 0;
    padding: 40px 0 0 0;
  }

  .wrapper {
    width: 90%;
    text-align: center;
    margin: 15px auto 15px auto;
    box-sizing: border-box;
    margin-top: 50px;
    max-width: 1374px;
    place-items: center;
  }

  #project-1 {
    float: left;
    width: 30%;
    display: inline-block;
    margin-left: 35px;
    margin-right: 10px;
  }

  #project-2 {
    float: left;
    width: 30%;
    display: inline-block;
    margin-right: 10px;
  }

  #project-3 {
    float: left;
    width: 30%;
    margin-right: 10px;
  }

  #project-4 {
    float: left;
    width: 30%;
    margin-right: 10px;
    margin-left: 35px;
  }

  #project-5 {
    float: left;
    width: 30%;
    margin-right: 10px;
  }

  #project-6 {
    float: left;
    width: 30%;
    margin-right: 10px;
  }

  .footer-p {
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
  }
}

/* Clearfix */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
